<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<style>
    .error {
        color: red;
    }
</style>
<body>
<!-- The Modal -->
<div class="modal" id="modalAddEdit" name="modalAddEdit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Create Employee</h4>
                <button type="button" class="close" data-dismiss="modal">&times;
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="formAddEdit">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Name</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="userName" name="userName"
                                   class="form-control" th:maxlength="45" data-rule-required="true">
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Password</label>
                        </div>
                        <div class="col-8">
                            <input type="password" id="password" name="password"
                                   class="form-control" required th:maxlength="45" >
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                        <div class="col-1">
                            <img src="https://icon-library.com/images/eyes-icon/eyes-icon-8.jpg"

                                 alt=""
                                 onclick="employees.showPass1()">

                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-3">
                            <label>Enter Password Again</label>
                        </div>
                        <div class="col-8">
                            <input type="password" id="password2" name="password2"
                                   class="form-control" required th:maxlength="45">
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                        <div class="col-1">
                            <img src="https://icon-library.com/images/eyes-icon/eyes-icon-8.jpg"

                                 alt=""
                                 onclick="employees.showPass2()">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Full Name</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="fullName" name="fullName"
                                   class="form-control" required th:maxlength="45">
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Address</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="address" name="address"
                                   class="form-control" required th:maxlength="45">
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Phone</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="phone" name="phone"
                                   class="form-control" required th:maxlength="11">
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>ID Card</label>
                        </div>
                        <div class="col-9">
                            <input type="number" id="idcard" name="idcard"
                                   class="form-control" required th:maxlength="15">
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Gender</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="gender" name="gender">
                                <option value="male">MALE</option>
                                <option value="female">FEMALE</option>
                                <option value="other gender">OTHER GENDER</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <label>Email</label>
                        </div>
                        <div class="col-9">
                            <input type="email" id="email" name="email"
                                   class="form-control" required th:maxlength="45">
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Date Of Birth</label>
                        </div>
                        <div class="col-9">
                            <input type="date" id="dateOfBirth" name="dateOfBirth"
                                   class="form-control" required th:maxlength="45">
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Image</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="image" name="image"
                                   class="form-control" required th:maxlength="45">
                            <p style="color: red;display: none"
                               class="ui-state-error-text"></p>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-9">
                            <input type="hidden" id="id" class="form-control" required>
                        </div>
                    </div>

                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:" class="btn btn-primary"
                   onclick="employees.save()">Save</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- The Modal End-->


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header" th:replace="layout/layout::logo">
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Products</span></a>
                            <ul class="collapse">
                                <li><a href="/products">Products list</a></li>
                                <li><a href="/productDeleted">Products Deleted</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Vendors</span></a>
                            <ul class="collapse">
                                <li><a href="/vendors">Vendors list</a></li>
                                <li><a href="/vendorsDeleted">Vendors Deleted</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>ProductLines</span></a>
                            <ul class="collapse">
                                <li><a href="/typeProducts">ProductLines list</a></li>
                                <li><a href="/typeProductsDeleted">ProductLines Deleted</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Blogs</span></a>
                            <ul class="collapse">
                                <li class="active"><a href="/blogs">Blogs list</a></li>
                                <li><a href="/bannersDeleted">Blogs Deleted</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Banners</span></a>
                            <ul class="collapse">
                                <li><a href="/banners">Banners list</a></li>
                                <li><a href="/bannersDeleted">Banners Deleted</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Orders</span></a>
                            <ul class="collapse">
                                <li><a href="/orders">Orders list</a></li>
                                <li><a href="/ordersDeleted">Orders Deleted</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Rates</span></a>
                            <ul class="collapse">
                                <li><a href="/rates">Rates list</a></li>
                                <li><a href="/ratesDeleted">Rates Deleted</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Employees</span></a>
                            <ul class="collapse">
                                <li class="active"><a href="/employees">Employees list</a></li>
                                <li><a href="/employeesDelete">Employees Deleted</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Users</span></a>
                            <ul class="collapse">
                                <li><a href="/users">Users list</a></li>
                                <li><a href="/usersDelete">Users Deleted</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/charts" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Chart</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix" th:replace="layout/layout::search">
                </div>
                <!-- profile info & task notification -->
                <div class="col-md-6 col-sm-4 clearfix" th:replace="layout/layout::notification">
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area start -->
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Dashboard</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="#">Employees</a></li>
                            <li><span>Employees list</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix" th:replace="layout/layout::setting">
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            <div class="row">
                <!-- table success start -->
                <div class="col-lg-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">EMPLOYEES</h4>
                            <div class="data-tables datatable-primary">
                                <button type="button" class="btn btn-success mb-3" onclick="employees.addNew()"><i
                                        class="fa fa-plus" aria-hidden="true"> Add</i></button>
                                <div class="table-responsive">
                                    <table class="table text-center" id="employees-dataTable"
                                           name="employees-dataTable">

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table success end -->
                <!-- Contextual Classes end -->
            </div>
        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <footer th:replace="layout/layout::footer">
    </footer>
    <!-- footer area end-->
</div>
<!-- page container area end -->
<!-- offset area start -->
<div th:replace="layout/layout::script"></div>
</body>
<script src="js/employee.js"></script>
<script src="js/notification.js"></script>
</html>