<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Change Password</h2>
                        <p>You can reset your password here.</p>
<!--                        <div th:if="${error != null}">-->
<!--                            <p class="text-danger">[${error}]</p>-->
<!--                        </div>-->
                        <div th:if="${message != null}">
                            <p style="color: #1c7430" class="text-warning" >[[${message}]]</p>
                        </div>
                        <div class="panel-body">
                            <form role="formChangePassword" th:action="@{/reset_password}" autocomplete="off"
                                  class="form" method="post">
                                <input type="hidden" name="token" th:value="${token}"/>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="password" name="password" placeholder="Enter new password"
                                               class="form-control" type="password" required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="password2" name="password2" placeholder="Reapet password"
                                               class="form-control" type="password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                           value="Change Password" type="submit" onclick="myFuntion()">
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="">
                                <a href="/login">Form login</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/layout::script"></div>
<script>
    validationForm = function () {
        $('#formChangePassword').validate({
            rules: {
                password: {
                    required: true,
                    minlength: 5,
                    maxlength: 45,
                    validatePassword: true,
                },
                password2: {
                    equalTo: "#password"
                },
            }
        });
    }

    function myFuntion() {
        if (document.getElementById('#password') === document.getElementById('#password2') && document.getElementById('#password') != null) {
            toastr.info('Change password successfully', 'INFORMATION:')

        } else {
            toastr.info(+'Please enter the correct password', 'INFORMATION:')
        }

    }

</script>
</html>



