<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
	.error {
		color: red;
	}
</style>
<head>
	<title>Trang Chủ</title>
	<link th:href="@{../fe/css/bootstrap.css}" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary JavaScript plugins) -->
	<script type='text/javascript' th:src="@{../fe/js/jquery-1.11.1.min.js}"></script>
	<!-- Custom Theme files -->
	<link th:href="@{../fe/css/style.css}" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
	<!-- start menu -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet">
	<link th:href="@{../fe/css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" th:src="@{../fe/js/megamenu.js}"></script>
	<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
	<script th:src="@{../fe/js/menu_jquery.js}"></script>
</head>
<body>
<!-- header_top -->
<div th:replace="layout/homepagelayout::header"></div>
<!-- header -->
<div class="header_bg">
	<div class="container">
	<div class="container-header-top">
		<div class="header">
			<div class="head-t">
				<div th:replace="layout/homepagelayout::logo"></div>
				<!-- start header_right -->
				<div class="header_right">
					<div th:replace="layout/homepagelayout::login"></div>
					<div th:replace="layout/homepagelayout::search"></div>
				</div>
			</div>
			<!-- start header menu -->
			<div th:replace="layout/homepagelayout::menu"></div>
		</div>
	</div>
	</div>
</div>
<!-- content -->
<div class="container">
	<div class="main">
		<!-- start registration -->
		<div class="registration">
			<div class="registration_left">
				<h2>new user? <span> create an account </span></h2>
				<div class="registration_form">
					<!-- Form -->
					<form id="formRegister" name="formRegister">
						<div>
							<label>
								<input id="userName" name="userName" placeholder="User name:" type="text" tabindex="1" required autofocus>
							</label>
						</div>
						<div>
							<label>
								<input id="password" name="password" placeholder="password" type="password" tabindex="4" required>
							</label>
						</div>
						<div>
							<label>
								<input id="password2" name="password2" placeholder="retype password" type="password" tabindex="4" required>
							</label>
						</div>
						<div>
							<label>
								<input id="fullName" name="fullName" placeholder="Full name:" type="text" tabindex="1" required autofocus>
							</label>
						</div>
						<div class="sky-form">
							<div class="sky_form1">
								<ul>
									<li><label  class="radio left"><input name="gender" type="radio"  value="male" checked=""><i></i>MALE</label></li>
									<li><label class="radio"><input  name="gender" type="radio"  value="female"><i></i>FEMALE</label></li>
									<li><label  class="radio"><input name="gender" type="radio"  value="other gender"><i></i>OTHER GENDER</label></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						<div>
							<label>
								<input id="address" name="address" placeholder="Address:" type="text" tabindex="2" required autofocus>
							</label>
						</div>
						<div>
							<label>
								<input id="email" name="email"  placeholder="email address:" type="email" tabindex="3" required>
							</label>
						</div>
						<div>
							<label>
								<input id="phone" name="phone" placeholder="Phone:" type="text" tabindex="2" required autofocus>
							</label>
						</div>
						<div>
							<label>
								<input id="dateOfBirth" name="dateOfBirth" placeholder="Date of birth:" type="date" tabindex="2" required autofocus>
							</label>
						</div>
						<div>
							<label>
								<img id="output" height="150px" width="100px">
								<input type='file' tabindex="2" accept='image/*' onchange='openFile(event)' name="fileUpdate" data-rule-required=true ><br>
							</label>
						</div>
						<div th:replace="layout/layout::base64">
						</div>
						<div class="sky-form">
							<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>i agree to shoppe.com &nbsp;<a class="terms" href="#"> terms of service</a> </label>
						</div>
						<div>

							<input class="btn btn-primary" type="button" id="register-submit" value="create an account" onclick="return users.create()">
						</div>
					</form>

					<!-- /Form -->
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- end registration -->
	</div>
</div>
<div th:replace="layout/homepagelayout::footer"></div>
<div th:replace="layout/homepagelayout::toars"></div>
</body>
<script th:src="@{../js/menu.js}"></script>
<script th:src="@{../js/uploadFile.js}"></script>
<script th:src="@{../js/addToCart.js}"></script>
<script src="js/register.js"></script>
</html>