<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head_cata_check_contact">
    <title>Trang Chủ</title>
    <link th:href="@{../fe/css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' th:src="@{../fe/js/jquery-1.11.1.min.js}"></script>
    <!-- Custom Theme files -->
    <link th:href="@{../fe/css/style.css}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet">
    <!-- start menu -->
    <link th:href="@{../fe/css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{../fe/js/megamenu.js}"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script th:src="@{../fe/js/menu_jquery.js}"></script>
    <style>
        .error {
            color: red !important;
        }
    </style>
</head>
<head th:fragment="head_view_blog_index">
    <title>Trang Chủ</title>
    <link th:href="@{../fe/css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' th:src="@{../fe/js/jquery-1.11.1.min.js}"></script>
    <!-- Custom Theme files -->
    <link th:href="@{../fe/css/style.css}" rel='stylesheet' type='text/css' />
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" th:href="@{../fe/css/styleCart.css}" type="text/css">
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet">
    <!-- start menu -->
    <link th:href="@{../fe/css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{../fe/js/megamenu.js}"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <script th:src="@{../fe/js/menu_jquery.js}"></script>
</head>

<body>
<!--header-->
<div th:fragment="header">
    <div class="top_bg">
        <div class="container">
            <div class="header_top">
                <div class="top_right">
                    <ul>
                        <li><a href="#">help</a></li>|
                        <li><a href="/contacts">Contact</a></li>|
                        <li><a href="#">Delivery information</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <h2><span></span> Call us : 032 2352 782</h2>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>

<!--logo-->
<div th:fragment="logo">
    <div class="logo">
        <a href="/"><img th:src="@{../fe/images/logo.png}" class="img-responsive" alt="" /> </a>
    </div>
</div>

<!--Login Register-->
<div th:fragment="login">
    <div class="rgt-bottom">
<!--        Login-->
        <div class="log" sec:authorize="!isAuthenticated()">
            <div class="login">
                <div id="loginContainer"><a href="/login" id="loginButton"><span>Login</span></a>
                </div>
            </div>
        </div>
        <div class="log" sec:authorize="isAuthenticated()">
            <div class="login">
                <div>
                    <span style="text-transform:capitalize" sec:authentication="principal.username"></span>
                </div>
            </div>
        </div>

<!--        Logout-->
        <div class="log" sec:authorize="isAuthenticated()">
            <div class="login">
                <div><a href="/logout"><span>Logout</span></a>
                </div>
            </div>
        </div>

<!--        Register-->
        <div class="reg"sec:authorize="!isAuthenticated()">
            <a href="/registers">REGISTER</a>
        </div>
        <div class="cart box_1">
            <a href="/checkouts">
                <h3> <span class="simpleCart_total" id="simpleCart_total">$0.00</span> (<span id="simpleCart_quantity"
                                                                        class="simpleCart_quantity">0</span> items)<img th:src="@{../fe/images/bag.png}" alt="">
                </h3>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty" onclick=" return orders.deleteAllProduct()">(empty card)</a></p>
            <div class="clearfix"> </div>
        </div>
        <div class="create_btn">
            <a href="/checkouts">CHECKOUT</a>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<!--search-->
<div th:fragment="search">
    <div class="search" >
        <form >
            <input type="text" value="" placeholder="search..." id="str">
            <div id="search">

            </div>
        </form>
    </div>
    <div class="clearfix"> </div>
</div>

<!--menu-->
<div th:fragment="menu">
    <ul class="megamenu skyblue">
        <li class="active grid"><a class="color1" href="/">Home</a></li>
        <li class="grid"><a class="color2" href="#">Products</a>
            <div class="megapanel" id="menu">

            </div>
        </li>
        <li><a class="color4" href="/news">BLOG</a>
        <li><a class="color5" th:href="@{/contacts}">CONTACT</a>
        <li><a class="color6" href="#">ABOUT</a>
        </li>
    </ul>
</div>

<!--footer-->
<div th:fragment="footer">
    <div class="foot-top">
        <div class="container">
            <div class="col-md-6 s-c">
                <li>
                    <div class="fooll">
                        <h5>follow us on</h5>
                    </div>
                </li>
                <li>
                    <div class="social-ic">
                        <ul>
                            <li><a href="#"><i class="facebok"> </i></a></li>
                            <li><a href="#"><i class="twiter"> </i></a></li>
                            <li><a href="#"><i class="goog"> </i></a></li>
                            <li><a href="#"><i class="be"> </i></a></li>
                            <li><a href="#"><i class="pp"> </i></a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </li>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 s-c">
                <div class="stay">
                    <div class="stay-left">
                        <form>
                            <input type="text" placeholder="Enter your email to join our newsletter" required="">
                        </form>
                    </div>
                    <div class="btn-1">
                        <form>
                            <input type="submit" value="join">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-3 cust">
                <h4>CUSTOMER CARE</h4>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="buy.html">How To Buy</a></li>
                <li><a href="#">Delivery</a></li>
            </div>
            <div class="col-md-2 abt">
                <h4>ABOUT US</h4>
                <li><a href="#">Our Stories</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="/contacts">Contact</a></li>
            </div>
            <div class="col-md-2 myac">
                <h4>MY ACCOUNT</h4>
                <li><a href="/registers">Register</a></li>
                <li><a href="#">My Cart</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="buy.html">Payment</a></li>
            </div>
            <div class="col-md-5 our-st">
                <div class="our-left">
                    <h4>OUR STORES</h4>
                </div>
                <div class="our-left1">
                    <div class="cr_btn">
                        <a href="#">SOLO</a>
                    </div>
                </div>
                <div class="our-left1">
                    <div class="cr_btn1">
                        <a href="#">BOGOR</a>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <li><i class="add"> </i>28 Nguyễn Tri Phương,Phú Hội,TT-Huế</li>
                <li><i class="phone"> </i>025-2839341</li>
                <li><a href="mailto:codegymhue@gmail.com"><i class="mail"> </i>Codegymhue@gmail.com</a></li>

            </div>
            <div class="clearfix"> </div>
            <p>Copyrights © 2015 Gretong. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>
<div th:fragment="toars">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
            integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
            crossorigin="anonymous"></script>
</div>
</body>
</html>