<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/default-css.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
        .error {
            color: red;
        }
        #content{
            background-color: white;
        }
        #modalTitle{
            color: #2c3cb7;
        }
    </style>
</head>
<body>

<!--LOGO-->
<div class="sidebar-header" th:fragment="logo">
    <div class="logo">
        <a href="/products"><img src="/assets/images/logoadmin.jpg" alt="logo"></a>
    </div>
</div>

<!--SEARCH-->
<div class="col-md-6 col-sm-8 clearfix" th:fragment="search">
    <div class="nav-btn pull-left">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="search-box pull-left">
        <form action="#">
            <input type="text" name="search" placeholder="Search..." required>
            <i class="ti-search"></i>
        </form>
    </div>
</div>

<!--notification-->
<div class="col-md-6 col-sm-4 clearfix" th:fragment="notification">
    <ul class="notification-area pull-right">
        <li id="full-view"><i class="ti-fullscreen"></i></li>
        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
        <li class="dropdown">
            <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span class="amountNotification"></span></i>
            <div class="dropdown-menu notify-box nt-enveloper-box">
                <span class="notify-title">You have <text class="amountNotification"></text> new notifications <a href="/rates">view all</a></span>
                <div class="nofity-list">
                    <a href="/rates" class="notify-item">
                        <div class="notify-thumb">
                            <span id="subContent"></span>
                        </div>
                        <div class="notify-text" id="meg">
                            <p id="nameSend"></p>
                            <span class="msg"></span>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--setting information admin/employees-->
<div class="col-sm-6 clearfix" th:fragment="setting">
    <div class="user-profile pull-right" sec:authorize="isAuthenticated()">
        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
            <span>
              <span sec:authentication="principal.username"></span>
                <span sec:authorize="hasRole('ADMIN')">
                   <input type="hidden" name="role" value="ADMIN" id="role">
                </span>
            </span>
            <i class="fa fa-angle-down"></i>
        </h4>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/rates}">Message</a>
            <a class="dropdown-item" th:href="@{/employees}">Settings</a>
            <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
        </div>
    </div>
</div>

<!--upload-->
<div th:fragment="base64">
    <input type="hidden" value="" id="base64">
</div>

<!--footer-->
<footer th:fragment="footer">
    <div class="footer-area">
        <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
    </div>
</footer>

<!--SCRIPT-->
<div th:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <!--    Validation-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
            integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
            crossorigin="anonymous"></script>
    <!-- offset area end -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <!-- bootstrap 4 js -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.min.js"></script>
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/scripts.js"></script>
</div>
</body>
</html>